<ion-header>
  <ion-toolbar>
    <ion-title>Select Days</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Start Date</ion-label>
    <ion-datetime [(ngModel)]="startDay" placeholder="Select Date" (ngModelChange)="startDayOnChange()">
    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Multiple days?</ion-label>
    <ion-checkbox [(ngModel)]="isMultipleDays" [disabled]="isvalid" (change)="isMultipleDays = !isMultipleDays">
    </ion-checkbox>
  </ion-item>
  <ion-item *ngIf="isMultipleDays">
    <ion-label>End Date</ion-label>
    <ion-datetime [(ngModel)]="endDay" placeholder="Select Date"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-button expand="full" color="primary" [disabled]="isvalid" (click)="onSubmit()">Submit</ion-button>
  </ion-item>
</ion-content>